#memes-button-icon {
  @apply flex items-center justify-center min-h-10 h-full min-w-10 w-auto rounded-lg isolate p-2 overflow-hidden  border-[1px] border-transparent;
  .filterBorder {
    @apply absolute -z-10;
  }
  .filterBg {
    @apply bg-gradient-to-b from-[#161329] via-black to-[#1d1b4b] w-[calc(100%-1px)] h-[calc(100%-1px)] -z-10 absolute rounded-lg;
  }

  .filterBorder::before {
    content: "";
    text-align: center;
    top: -300px;
    left: -300px;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.35);
    background-image: conic-gradient(
      rgba(0, 0, 0, 0),
      #3d3a4f,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      #3d3a4f,
      rgba(0, 0, 0, 0) 100%
    );
    animation: rotate 4s linear infinite;
  }
}
