@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';
@import './transition.scss';

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --icon-color: #000000;
}

:root[class~='dark'] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --icon-color: #d1d5db;
}

* {
  ::-webkit-scrollbar {
    @apply w-2 h-1 bg-[--bg-color] rounded-2xl;
  }
  ::-webkit-scrollbar-track {
    @apply my-4;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[--card-color] opacity-50 rounded-2xl;
  }
}

.ant-input:focus {
  outline: none;
  box-shadow: none;
}

.orbitron {
  font-family: 'Orbitron', sans-serif !important;
}